.header-org{
    background-color: #F2EFEB;
    width: 100%;
    height: 80px;
    &-row{
        display: flex;
        align-items: center;
        justify-content: center;
        }
        &-main{
            display: flex;
            align-items: center;
            gap: 100px;
            padding-top: 35px;
        }
        &-main-item{
            color: #655954;
        }
        &-main-item:hover{
            color: #bcb6b4;
        }
}